* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 15vh;
  align-items: center;
}

.body-content {
  min-height: 75vh;
}

.logo-container,
.nav-links,
.user-container {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo-container img {
  height: 100px;
  width: auto;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}


.nav-link:hover {
  color: #1DA58B;
  font-weight: 500;
}


.user-container {
  flex: 1;
  justify-content: flex-end;
}

.user-container img {
  height: 50px;
  width: auto;
}

.user-entry {
  display: flex;
  align-items: center;
}

.user-entry a {
  text-decoration: none;
  padding: 5px;
  color: #585772;
}

.user-entry a:hover {
  font-weight: 500;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 22px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 18px;
  color: #585772;
  text-align: justify;
  text-justify: inter-word;
}

.cta {
  padding: 50px, 0px, 0px, 0px;
  margin-top: 30px;
}

.cta-select {
  border: 2px solid #1DA58B;
  background: transparent;
  color: #1DA58B;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  background: #1DA58B;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px, 0px, 0px, 30px;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  /* height: 60vh; */
  margin-left: 30px;
}

.cover img {
  height: 100%;
  border-radius: .35em;
  border: 0;
}

.copyright {
  min-height: 50px;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
  font-size: 12px;
  font-weight: 200;
  color: #585772;
}

/* Login Start */
.wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 95vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0, 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 500px;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}

form {
  width: 360px;
}

.avatar {
  width: 100px;
}

form h2 {
  font-size: 2.9rem;
  /* text-transform: uppercase; */
  margin: 15px 0;
  color: #333;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-div:after,
.input-div:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #33839f;
  transition: .3s;
}

.input-div:after {
  right: 50%;
}

.input-div::before {
  left: 50%;
}

.input-div.focus .i .fa {
  color: #38d39f;
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus:after .input-div.focus:before {
  width: 50%;

}

.input-div.one {
  margin-top: 0;
}

.input-div.two {
  margin-bottom: 4px;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.i .fa {
  color: #d9d9d9;
  transition: .3s;
}

.input-div>div {
  position: relative;
  height: 45px;
}

.input-div>div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: #555;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}

a:hover {
  color: #1DA58B;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  cursor: pointer;
  color: fff;
  font-family: 'Poppins'sans-serif;
  background-size: 200%;
  transition: .5s;
  /* text-transform: uppercase; */
}

.btn:hover {
  background-position: right;
}


@media screen and (max-width:1050px){
  .container{
    grid-gap: 5rem;
  }
}

@media screen and (max-width:1000px){
  form{
    width: 290px;
  }

  form h2{
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img{
    width: 400px;
  }
}

@media screen and (max-width:900px){
.img{
  display: none;
}

.container{
  grid-template-columns: 1fr;
}

.wave{
  display: none;
}

.login-container{
  justify-content: center;
}
}

/* Login End */

@media screen and (max-width:1024px) {
  .presentation {
    flex-direction: column;
  }

  .introduction {
    margin-top: 5vh;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 30px;
  }

  .intro-text p {
    font-size: 18px;
  }

  .cta {
    padding: 10px, 0px, 0px, 0px;
  }

  .cover img {
    height: 80%;
  }

  .nav-links {
    display: none;
  }

}